.formulario {
    padding: 20px;
    background-color: #e29a9a;
    border: 1px solid #ca8585;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
.formulario label,
.formulario input {
    display: block;
    margin-bottom: 10px;
}
.formulario input[type="text"],
.formulario input[type="email"]
.formulario input[type="number"]{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #d87d7d;
    border-radius: 3px;
    display: flex;
    align-content: center;
}

.copyright {
    position: fixed;
    bottom: 10px; /* Ajusta la posición vertical según necesites */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);
    font-size: 14px;
    color: #9d0eb9de;
    animation: moveCopyright 6s linear infinite;
}

/* Definición de la animación */
@keyframes moveCopyright {
    0% {
        transform: translateX(-70%);
    }
    50% {
        transform: translateX(-60%);
    }
    90% {
        transform: translateX(-50%);
    }
}

